DB_PASSWORD=ganti_password_kuat_disini
API_KEY=ganti_dengan_key_kuat

TELEGRAM_BOT_TOKEN=token_baru_dari_botfather
TELEGRAM_USER_ID=id_telegram_anda

FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:3001
